<div id="window" class="w3-container" style="padding-top:48px">
    <div id="mainDisplay" class="w3-container w3-row">
        <div id='clientTable' style="margin: 2%" class="w3-container w3-col sm12 m12 l4 ">
            <h3 style="text-align: center; font-weight: bold" class="">Available Hours</h3>
            <table class="w3-table-all">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Sup</th>
                    <th scope="col">PE</th>
                    <th scope="col">Ind</th>
                </tr>
                {{#each clients}}
                <tr>
                    <th scope="row">
                        {{name}}
                    </th>
                    <td id="supColumn">
                        {{#each currentMonth}}
                        {{#thisMonth month}}
                        {{sup}}
                        {{/thisMonth}}
                        {{/each}}
                    </td>
                    <td id="peColumn">
                        {{#each currentMonth}}
                        {{#thisMonth month}}
                        {{pe}}
                        {{/thisMonth}}
                        {{/each}}
                    </td>
                    <td id="indColumn">
                        {{#each currentMonth}}
                        {{#thisMonth month}}
                        {{ind}}
                        {{/thisMonth}}
                        {{/each}}
                    </td>
                </tr>
                {{/each}}
            </table>
        </div>
        <div id='calendar' style="margin: 1%" class="w3-container w3-col sm12 m12 l7"></div>
    </div>
    <div id="clientModal" class="w3-modal">
        <div class="w3-modal-content w3-animate-top">
            <div class="w3-row">
                <h1>
                    <span style="margin: 1%" onclick="closeClientModal()" id="close">&times;</span>
                </h1>
            </div>
            <div class="w3-bar w3-border-bottom">
                {{#each clients}}
                <button class="tablink w3-bar-item w3-button" data-name="{{name}}" onclick="openClient(event, '{{name}}')">
                    {{name}}
                </button>
                {{/each}}
            </div>
            {{#each clients}}
            <div id="{{name}}" class="w3-container client">
                <h1 style="text-align: center">Monthly Authorized</h1>
                <table class="w3-table w3-bordered">
                    <tr>
                        <th style="text-align: center" scope="col">Sup</th>
                        <th style="text-align: center" scope="col">PE</th>
                        <th style="text-align: center" scope="col">Ind</th>
                    </tr>
                    <tr class="showing update1" id="updateTr" data-value="null">
                        <td id="{{name}}supTd" class="showing update1" data-original="{{monthlyAuth.sup}}" style="text-align: center">{{monthlyAuth.sup}}</td>
                        <td id="{{name}}peTd" class="showing update1" data-original="{{monthlyAuth.pe}}" style="text-align: center">{{monthlyAuth.pe}}</td>
                        <td id="{{name}}indTd" class="showing update1" data-original="{{monthlyAuth.ind}}" style="text-align: center">{{monthlyAuth.ind}}</td>
                    </tr>
                    <tr class="hidden update2">
                        <form id='editClientForm' method="POST">
                            <td class="hidden update2"><input type="number" style="text-align: center" class="hidden update2" id="{{name}}supValue" value="{{monthlyAuth.sup}}"></td>
                            <td class="hidden update2"><input type="number" style="text-align: center" class="hidden update2" id="{{name}}peValue" value="{{monthlyAuth.pe}}"></td>
                            <td class="hidden update2"><input type="number" style="text-align: center" class="hidden update2" id="{{name}}indValue" value="{{monthlyAuth.ind}}"></td>
                        </form>
                    </tr>
                </table>
            </div>
            {{/each}}
            <div id="updateDiv" class="w3-container w3-padding">
                <button id="openClient" onclick="openEditClientModal()" class="w3-button w3-right w3-white w3-border">
                    <b>Edit</b>
                </button>
            </div>
        </div>
    </div>
    <div id="eventModal" class="w3-modal">
        <div class="w3-modal-content w3-animate-top" style="max-width: 80%; margin: auto">
            <div class="w3-row">
                <h1>
                    <span style="margin: 1%" onclick="closeEventModal();" id="close">&times;</span>
                </h1>
            </div>
            <form class="w3-container" method="POST">
                <div class="w3-row">
                    <div class="w3-col s12 l7">
                        <div class="w3-row input">
                            <label><b>Client:</b></label>
                            <select name="client" id="clientSelection" class="w3-select">
                                <option>NA</option>
                                {{#each clients}}
                                <option>{{name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="w3-row input">
                            <label><b>Billing Code:</b></label>
                            <select name="code" id="codeSelection" class="w3-select">
                                <option value="sup">Sup</option>
                                <option value="pe">PE</option>
                                <option value="ind">Ind</option>
                                <option value="cd">Clinic Development</option>
                            </select>
                        </div>
                        <div class="w3-row input">
                            <label><b>Time:</b></label>
                            <input name='time' type="text" id="timepicker1" class="w3-input">
                        </div>
                        <div class="w3-row input">
                            <label><b>Duration:</b></label>
                            <select name="duration" id="durationSelection" class="w3-select">
                                <option value=".25">15 Min</option>
                                <option value=".50">30 Min</option>
                                <option value=".75">45 Min</option>
                                <option value="1">1Hr</option>
                                <option value="1.25">1Hr 15 Min</option>
                                <option value="1.50">1Hr 30 Min</option>
                                <option value="1.75">1Hr 45 Min</option>
                                <option value="2">2Hr</option>
                                <option value="2.25">2Hr 15 Min</option>
                                <option value="2.50">2Hr 30 Min</option>
                                <option value="2.75">2Hr 45 Min</option>
                                <option value="3">3Hr</option>
                                <option value="3.25">3Hr 15 Min</option>
                                <option value="3.50">3Hr 30 Min</option>
                                <option value="3.75">3Hr 45 Min</option>
                                <option value="4">4Hr</option>
                                <option value="4.25">4Hr 15 Min</option>
                                <option value="4.50">4Hr 30 Min</option>
                                <option value="4.75">4Hr 45 Min</option>
                                <option value="5">5Hr</option>
                                <option value="5.25">5Hr15 Min</option>
                                <option value="5.50">5Hr30 Min</option>
                                <option value="5.75">5Hr45 Min</option>
                                <option value="6">6Hr</option>
                            </select>
                        </div>
                    </div>
                    <div class="w3-col s12 l5" id="datepicker1"></div>
                    <input type="text" name="date" value="datepickerVal" style="display: none">
                </div>
                <div class="w3-row">
                    <button type="submit" value="Submit" formaction="/event/add" class="w3-button w3-block"><b>Submit
                            Event</b></button>
                </div>
            </form>
        </div>

    </div>
    <div id="eventEditModal" class="w3-modal">
        <div class="w3-modal-content w3-animate-top" style="max-width: 80%; margin: auto">
            <div class="w3-row">
                <h1>
                    <span style="margin: 1%" onclick="closeEventEditModal();" id="close">&times;</span>
                </h1>
            </div>
            <form class="w3-container" method="POST">
                <div class="w3-row">
                    <div class="w3-col s12 l7">
                        <div class="w3-row input">
                            <label><b>Time:</b></label>
                            <input name='time' type="text" id="timepicker2" class="w3-input">
                        </div>
                        <div class="w3-row input">
                            <label><b>Duration:</b></label>
                            <select name="duration" id="durationSelection" class="w3-select">
                                <option value=".25">15 Min</option>
                                <option value=".50">30 Min</option>
                                <option value=".75">45 Min</option>
                                <option value="1">1Hr</option>
                                <option value="1.25">1Hr 15 Min</option>
                                <option value="1.50">1Hr 30 Min</option>
                                <option value="1.75">1Hr 45 Min</option>
                                <option value="2">2Hr</option>
                                <option value="2.25">2Hr 15 Min</option>
                                <option value="2.50">2Hr 30 Min</option>
                                <option value="2.75">2Hr 45 Min</option>
                                <option value="3">3Hr</option>
                                <option value="3.25">3Hr 15 Min</option>
                                <option value="3.50">3Hr 30 Min</option>
                                <option value="3.75">3Hr 45 Min</option>
                                <option value="4">4Hr</option>
                                <option value="4.25">4Hr 15 Min</option>
                                <option value="4.50">4Hr 30 Min</option>
                                <option value="4.75">4Hr 45 Min</option>
                                <option value="5">5Hr</option>
                                <option value="5.25">5Hr15 Min</option>
                                <option value="5.50">5Hr30 Min</option>
                                <option value="5.75">5Hr45 Min</option>
                                <option value="6">6Hr</option>
                            </select>
                        </div>
                    </div>
                    <div class="w3-col s12 l5" id="datepicker2"></div>
                    <input type="text" name="date" value="datepickerVal" style="display: none">
                </div>
                <div class="hidden id"><input class="hidden id" id="event_id_input" name="event_id" type="text"
                        value="id"></div>
                <div class="hidden duration"><input class="hidden duration" id="event_duration_input"
                        name="event_duration" type="text" value="duration"></div>
                <div class="hidden client_name"><input class="hidden client_name" id="event_client_name_input"
                        name="event_client_name" type="text" value="client_name"></div>
                <div class="hidden code"><input class="hidden code" id="event_code_input" name="event_code" type="text"
                        value="code"></div>
                <div class="hidden billing_month"><input class="hidden billing_month" id="event_billing_month_input"
                        name="event_billing_month" type="text" value="billing_month"></div>
                <div class="w3-row">
                    <button type="submit" value="Submit" formaction="/event/edit" class="w3-button w3-col s6"><b>Edit
                            Event</b></button>
                    <button type="submit" value="Submit" formaction="/event/delete"
                        class="w3-button w3-col s6"><b>Delete Event</b></button>
                </div>
            </form>
        </div>

    </div>
</div>