<div id="window" class="w3-container" style="padding-top:48px">
    <div id="mainDisplay" class="w3-container w3-row">
        <div id='clientTable' style="margin: 2%" class=" w3-container w3-col sm12 m12 l4">
            <h3 style="text-align: center; font-weight: bold" class="">Available Hours</h3>
            <table class="w3-table-all">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Sup</th>
                    <th scope="col">PE</th>
                    <th scope="col">Ind</th>
                </tr>
                {{#each clients}}
                <tr>
                    <th scope="row">
                        {{Name}}
                    </th>
                    <td id="supColumn">
                        {{#each Current_Month}}
                        {{#thisMonth Month}}
                        {{Sup}}
                        {{/thisMonth}}
                        {{/each}}
                    </td>
                    <td id="peColumn">
                        {{#each Current_Month}}
                        {{#thisMonth Month}}
                        {{PE}}
                        {{/thisMonth}}
                        {{/each}}
                    </td>
                    <td id="indColumn">
                        {{#each Current_Month}}
                        {{#thisMonth Month}}
                        {{Ind}}
                        {{/thisMonth}}
                        {{/each}}
                    </td>
                </tr>
                {{/each}}
            </table>
        </div>
        <div id='calendar' style="margin: 1%" class="w3-container w3-col sm12 m12 l7"></div>
    </div>
    <div id="clientModal" class="w3-modal">
        <div class="w3-modal-content w3-animate-top">
            <div class="w3-row">
                <h1>
                    <span style="margin: 1%" onclick="closeClientModal();"
                        id="close">&times;</span>
                </h1>
            </div>
            <div class="w3-bar w3-border-bottom">
                {{#each clients}}
                <button class="tablink w3-bar-item w3-button" onclick="openClient(event, '{{Name}}')">
                    {{Name}}
                </button>
                {{/each}}
            </div>
            {{#each clients}}
            <div id="{{Name}}" class="w3-container client">
                <h1 style="text-align: center">Monthly Authorized</h1>
                <table class="w3-table w3-bordered">
                    <tr>
                        <th style="text-align: center" scope="col">Sup</th>
                        <th style="text-align: center" scope="col">PE</th>
                        <th style="text-align: center" scope="col">Ind</th>
                    </tr>
                    <tr>
                        <td style="text-align: center">{{Monthly_Auth.Sup}}</td>
                        <td style="text-align: center">{{Monthly_Auth.PE}}</td>
                        <td style="text-align: center">{{Monthly_Auth.Ind}}</td>
                    </tr>
                </table>
            </div>
            {{/each}}
            <div class="w3-container w3-padding">
                <button class="w3-button w3-right w3-white w3-border" onclick="event.preventDefault();">
                    Edit
                </button>
            </div>
        </div>
    </div>
    <div id="eventModal" class="w3-modal">
        <div class="w3-modal-content w3-animate-top" style="max-width: 80%; margin: auto">
            <div class="w3-row">
                <h1>
                    <span style="margin: 1%" onclick="closeEventModal();"
                        id="close">&times;</span>
                </h1>
            </div>
            <form class="w3-container" method="POST">
                <div class="w3-row">
                    <div class="w3-col s12 l7">
                        <div class="w3-row input">
                            <label><b>Client:</b></label>
                            <select name="client" id="clientSelection" class="w3-select">
                                <option>NA</option>
                                {{#each clients}}
                                <option>{{Name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="w3-row input">
                            <label><b>Billing Code:</b></label>
                            <select name="code" id="codeSelection" class="w3-select">
                                <option>Sup</option>
                                <option>PE</option>
                                <option>Ind</option>
                                <option>Clinic Development</option>
                            </select>
                        </div>
                        <div class="w3-row input">
                            <label><b>Time:</b></label>
                            <input name='time' type="text" id="timepicker" class="w3-input">
                        </div>
                        <div class="w3-row input">
                            <label><b>Duration:</b></label>
                            <select name="duration" id="durationSelection" class="w3-select">
                                <option value=".25">15 Min</option>
                                <option value=".50">30 Min</option>
                                <option value=".75">45 Min</option>
                                <option value="1">1Hr</option>
                                <option value="1.25">1Hr 15 Min</option>
                                <option value="1.50">1Hr 30 Min</option>
                                <option value="1.75">1Hr 45 Min</option>
                                <option value="2">2Hr</option>
                                <option value="2.25">2Hr 15 Min</option>
                                <option value="2.50">2Hr 30 Min</option>
                                <option value="2.75">2Hr 45 Min</option>
                                <option value="3">3Hr</option>
                                <option value="3.25">3Hr 15 Min</option>
                                <option value="3.50">3Hr 30 Min</option>
                                <option value="3.75">3Hr 45 Min</option>
                                <option value="4">4Hr</option>
                                <option value="4.25">4Hr 15 Min</option>
                                <option value="4.50">4Hr 30 Min</option>
                                <option value="4.75">4Hr 45 Min</option>
                                <option value="5">5Hr</option>
                                <option value="5.25">5Hr15 Min</option>
                                <option value="5.50">5Hr30 Min</option>
                                <option value="5.75">5Hr45 Min</option>
                                <option value="6">6Hr</option>
                            </select>
                        </div>
                    </div>
                    <div class="w3-col s12 l5" id="datepicker"></div>
                    <input type="text" name="date" value="datepickerVal" style="display: none">
                </div>
                <div class="w3-row">
                    <button type="submit" value="Submit" formaction="/event/add" class="w3-button w3-block"><b>Submit Event</b></button>
                </div>
            </form>
        </div>
    </div>
</div>